*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}

body{
    width: 448px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/fond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'KoHo', sans-serif;
    color: black;
}
.avatar img{
    width: 30%;
    margin-top: 15%;
    margin-left: 35%;
    border: 5px solid rgb(7, 7, 6);
    border-radius: 50%;
}
.prenom{
    text-align: center;
}
.pscore{
    text-align: center;
}
.jeux img{
    width: 100px;
}
.sudoku{
    margin-left: 2rem;
}
.eau{
    text-align: center;
    background-color: rgb(62, 103, 141);
    color: white;
}
.eau h2{
    color: rgb(223, 84, 142);
}
.calcul{
    margin-left: 2rem;
}
.logo{
    float: right;
    width: 55px;
    padding-top: 17px;
    padding-right: 17px;
}
.sudoku img{
    border: 3px solid black;
    border-radius: 50%;
}
.eau img{
    border: 3px solid black;
    border-radius: 50%;
}
.calcul img{
    border: 3px solid black;
    border-radius: 50%;
}
.jouer a{
    display: block;
	color: white;
	background: rgb(24, 83, 131);
	padding: 1em;
	border-radius: 45px;
	text-decoration: none;
	max-width: 40%;
	text-align: center;
}
.jouer{
    margin-top: 10%;
    margin-left: 35%;
    margin-bottom: 5%;
}