*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}


body{
    width: 448px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/fond.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    font-family: 'Otomanopee One', sans-serif;
    color: black;
}

.blocrelatif p{
    margin: 5%;
}
.header{
    display:flex;
    justify-content: space-around;
}
.ins{
    margin-top: 10px;
    width: 100%;
    border: 2px solid black;
    border-radius: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
}
h2{
    font-family: 'Sigmar One', cursive;
    margin-inline-start: 34px;
    margin-block-start: 10px;
    padding-top: 8%;
}
.icon{
    width: 30px;
    padding-top: 45px;
    display: flex;
    justify-content: flex-end;
}
p{
    text-align: center;
}
.blocrelatif p{
    padding-top: 8%;
}
.jeux2 img{
    width: 100px;
}
.jeux1 img{
    max-width: 100px;
}
.jeux2{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 8%;
    padding-top: 15%;
}
.jeux1{
    padding-inline-start: 35%;
}
.sudoku p{
    width: 120px;
}
.eau p{
    width: 120px;
}
.calcul p{
    width: 120px;
}
.sudoku h3{
    display: flex;
    justify-content: center;
}
.eau h3{
    display: flex;
    justify-content: center;
}
.calcul h3{
    width: 40%;
    display: flex;
    justify-content: center;
}
.sudoku img{
    border: 5px solid black;
    border-radius: 50%;
}
.eau img{
    border: 5px solid black;
    border-radius: 50%;
}
.calcul img{
    border: 5px solid black;
    border-radius: 50%;
}
.formulaireinscription{
    display: flex;
    justify-content: center;
    
}
.valider{
    width: 80px;
    background-color: rgba(207, 196, 196, 0.767);
    display: flex;
    justify-content: center;
    border-radius: 20%;
    border: 2px solid black;
}
.jouer a{
    display: block;
	color: white;
	background: rgb(24, 83, 131);
	padding: 1em;
	border-radius: 45px;
	text-decoration: none;
	max-width: 40%;
	text-align: center;
}
.jouer{
    margin-top: 20%;
    margin-left: 35%;
}